<form action="/cart" method="POST" style="margin-top: 0">
  <button type="submit" class="btn" style="color: #fff">Add cart</button>
  <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
